h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
a,
li,
ul,
ol,
blockquote,
pre,
code,
input,
textarea,
select,
nav,
footer,
header,
section {
  margin: 0;
  padding: 0;
}

body{
  display:grid;
}
.grid-layout{
  width:80%;
  margin: 0 auto;
}

.logo{
  display:grid;
  justify-content:center;
}
.header{
  display:grid;
  justify-content:center;
}

p{
  padding: 1rem;
}



@import 'base/base';

@import 'components/card-general';
